**/bin/
**/obj/
**/_out/
**/Temp/
**/logs/
**/Data/
.vs/
.idea/
*.db
*.db-*
*.pdb
*.exe
!/DungeonRunnersServer/Build.exe
!/DungeonRunnersServer/Server.exe
*.log
*.dmp
*.pcap
*.pcapng
*.user
*.suo
*.local.*
.env*
*.pem
*.key
*.pfx
*.p12
